{% extends "base.html" %}
{% load i18n %}

{% block content %}
  <h1>{% block title %} {% trans "Vote result" %} {% endblock %}</h1>
  <table class="table">
    <tr>
      <th>{% trans "Question" %}</th>
      <th>{% trans "Average score" %}</th>
    </tr>
    {% for question in questions %}
      <tr>
        <td><a href="{% url 'polls:result' question.id  %}">{{question}}</a></td>
        <td>{{question.average_score}}</td>
      </tr>
    {% endfor %}
  </table>
  <p><a href="{% url 'polls:recalc' %}" class="btn btn-danger">{% trans 'Recalc polls score' %}</a></p>
{% endblock %}
